IS_HF_SPACE=False
HF_MODEL_REPO_ID=zainafxal/ecommerce-sales-forecasting-model
HF_MODEL_FILENAME=sales_forecaster_xgb_v1.0.pkl
API_RATE_LIMIT=10/minute
BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
BACKEND_CORS_ORIGIN_REGEX=https://.*\.vercel\.app$|https://.*\.hf\.space$
